{% extends "layout.html" %}

{% block title %}
Change password
{% endblock %}

{% block main %}
<form name="myform" onsubmit="formValidate()" method="POST">

            <div class="form-group">
                <input class="form-control" name="input_password" placeholder="current password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password" placeholder="new password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="new_password_conf" placeholder="new password (confirm)" type="password">
            </div>
            <div class="form-group">
                <button class="btn btn-red" type="submit">Change</button>
            </div>
</form>
{% endblock %}